/* === Reset === */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

/* === Container com fundo === */
.container, #area {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('imagens/gramado.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* === Canvas === */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

/* === Pontos de destino === */
.ponto-especifico {
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);
}
.icone-destino {
  width: 8vw;
  max-width: 50px;
  height: auto;
  filter: drop-shadow(4px 4px 4px rgba(254, 254, 254, 0.5));
}

.bussola-com-distancia[data-id="0"] {
  left: 40%;
  bottom: 10%;
  position: absolute;
}

.bussola-com-distancia[data-id="1"] {
  left: 50%;
  bottom: 10%;
  position: absolute;
}

.bussola-com-distancia[data-id="2"] {
  left: 60%;
  bottom: 10%;
  position: absolute;
}

/* === Bússolas === */
.bussola {
  position: absolute;
  width: 15vw;
  max-width: 100px;
  height: auto;
  transform-origin: center center;
  transition: transform 0.05s linear;
  z-index: 3;
}

/* === Distância (acima da bússola) === */
.distancia {
  white-space: nowrap;
  transform: translate(-50%, -260%);
  font-size: clamp(12px, 2vw, 16px);
  font-weight: bold;
  color: rgb(0, 46, 24);
  background-color: rgba(0, 191, 100, 0.9);
  line-height: 1;
  padding: 0.4em 0.5em;
  border-radius: 5px;
  z-index: 2;
  display: none;
  text-align: center;
}

/* === Legenda (abaixo da bússola) === */
.legenda {
  transform: translate(-50%, 70%);
  white-space: nowrap;
  font-size: clamp(9px, 1.2vw, 14px);
  background-color: rgba(0, 191, 100, 0.9);
  color: rgb(0, 46, 24);
  padding: 0.3em 0.6em;
  border-radius: 5px;
  text-align: center;
  z-index: 2;
}

/* === Ícone do usuário === */
.usuario {
  position: absolute;
  width: 8vw;
  max-width: 50px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
  transition: transform 0.2s ease, width 0.2s, height 0.2s;
}
.usuario.ativo {
  width: 11vw;
  max-width: 70px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

/* === Células da grade (opcional) === */
.celula {
  box-sizing: border-box;
  border: 1px solid transparent;
  position: absolute;
  width: 20px;
  aspect-ratio: 1 / 1;
}

@media (max-width: 768px) {
  .bussola-com-distancia[data-id="0"] {
    left: calc(100% / 6);
    bottom: 5%;
    top: auto;
  }

  .bussola-com-distancia[data-id="1"] {
    left: 50%;
    bottom: 5%;
    top: auto;
  }

  .bussola-com-distancia[data-id="2"] {
    left: calc(100%*5 / 6);
    bottom: 5%;
    top: auto;
  }
}
